.idea/
__pycache__/
utils/_pycache__/
*.pcap
*.csv
*.pdf
*.png
*.log
*.dat
*.sh


/applications/online/data/*
/applications/online/out/*
legacy

/applications/offline/data/*
/applications/offline/out/*


