# All the required dependencies should come with tf-nightly package.

### Python3.7.9 version: 3.7.9
# conda create -n py379 python=3.7.9

# pip3: 21.0.1
# python3 -m pip3 install pip==21.0.1
# pip3 install --ignore-installed --no-cache-dir scikit-learn==0.22.1

### install odet
# cd kjl/datasets/odet; pip install .
# odet>=0.0.1

### install quickshift++
# cd kjl/mode_seeking/quickshift
# pip install .
# quickshift++  # requriement an old sikit-learn (scikit-learn~=0.23.2 works, which needs old python3.7)

# Python 3.7.3 with ’–enable-optimizations’ option for RSPI (32bit: Python3.7.3) and NANO (64bit: Python3.7.3)
# Numpy 1.18.2 (install from the numpy source codes that searches for BLAS and LAPACK dynamic link libraries at
# build time as influenced by the system environment variable

# The rest of the packages are mostly used for testing purpose.
#ConfigArgParse~=1.5.2
#dill
#
#joblib==1.0.1
#loguru~=0.5.3
#matplotlib==3.2.2
#matplotlib>=3.1.1
#memory_profiler==0.58.0
#numpy~=1.21.2
#openpyxl>=3.0.2
#pandas~=1.3.2
#pytest>=5.3.1
#requests>=2.22.0
#scapy==2.4.4
#scikit-learn~=0.23.2
#scipy>=1.4.1
#seaborn
#setuptools~=47.1.0
#threadpoolctl~=2.2.0
#xlrd==1.2.0
#xlsxwriter


configargparse==1.5.2
Cython==0.29.14
func_timeout==4.3.5
loguru==0.5.3
memory-profiler==0.58.0
netifaces==0.11.0
numpy==1.19.2
pandas==0.25.1
pygount==1.2.4
pyod==0.7.7.1
pytest==5.3.1
requests==2.22.0
scapy==2.4.5
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.11.2
torch==1.5.0
torchsummary==1.5.1
torchvision>=0.5.0
